<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JUJU Food Delivery</title>
    <link rel="stylesheet" href="/css/owner.css">
    
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <img class="logoimage item" src="/images/JUJU__2_-removebg-preview.png" alt="JUJU Logo">
        </div>
        <div class="user-info">
            <img class="item" src="/images/zidan.jpg" alt="User Avatar">
            <span class="item">Zidan Rai</span>
        </div>
        <div class="menu">
            <h3 class="item">Menu</h3>
            <div class="menu-item active">
                <img src="/images/time.svg" alt="Order History">
                Order History
            </div>
            <div class="menu-item">
                <img style="color: aliceblue;" src="/images/pin.svg" alt="Locations">
                Locations
            </div>
            <h3 class="item">General</h3>
            <div class="menu-item">
                <img src="/images/setting.svg" alt="Settings">
                Settings
            </div>
            <div class="menu-item">
                <img src="/images/help.svg" alt="Help">
                Help
            </div>
        </div>
        <div class="menu-item" style="margin-top: auto;">
            <img src="/images/logout.svg" alt="Log Out">
            <a href="/index.html">Log Out</a>
        </div>
    </div>
    
    <div class="main-content">
        <div class="header">
            <div class="location">
                <img src="/images/pin2.svg" alt="Location">
                Kathmandu
            </div>
            <div class="cart">
                <img src="/images/cart.svg" alt="Cart">
                My Cart
            </div>
        </div>
        
<div class="header2">
    <h1>Amma ko roll,</h1>
</div>
        <div class="food-items">
            <div class="food-item">
                <img src="/images/Bara.png" alt="Bara">
                <div class="food-info">
                    <h3>Bara</h3>
                    <div>⭐ 4.2 (12 reviews)</div>
                    <div>Rs 150</div>
                </div>
                <button class="add-btn">+</button>
            </div>
            <div class="food-item">
                <img src="/images/Yomari.png" alt="Bara">
                <div class="food-info">
                    <h3>Bara</h3>
                    <div>⭐ 4.2 (12 reviews)</div>
                    <div>Rs 150</div>
                </div>
                <button class="add-btn">+</button>
            </div>
            <div class="food-item">
                <img src="/images/Dhindo.png" alt="Bara">
                <div class="food-info">
                    <h3>Bara</h3>
                    <div>⭐ 4.2 (12 reviews)</div>
                    <div>Rs 150</div>
                </div>
                <button class="add-btn">+</button>
            </div>
            <div class="food-item">
                <img src="/images/sapumiicha.png" alt="Bara">
                <div class="food-info">
                    <h3>Bara</h3>
                    <div>⭐ 4.2 (12 reviews)</div>
                    <div>Rs 150</div>
                </div>
                <button class="add-btn">+</button>
            </div>
            <div class="food-item">
                <img src="/images/sapumiicha.png" alt="Bara">
                <div class="food-info">
                    <h3>Bara</h3>
                    <div>⭐ 4.2 (12 reviews)</div>
                    <div>Rs 150</div>
                </div>
                <button class="add-btn">+</button>
            </div>
            <div class="food-item">
                <img src="/images/sapumiicha.png" alt="Bara">
                <div class="food-info">
                    <h3>Bara</h3>
                    <div>⭐ 4.2 (12 reviews)</div>
                    <div>Rs 150</div>
                </div>
                <button class="add-btn">+</button>
            </div>
            
    </div>

    </div>

    
</body>
</html>
